
/* .container-fluid{
  /* background-image: url(./img/e1870cfee5e05fe14712c92ae9bbadeb.jpg); */
  /* background-size: cover; */
  /* height: 100vh; */
/* } */ 
.logo1{
width: 50px;
margin-left: 50%;
margin-bottom: auto;
margin-top: 10px;


}
.img-fluid{
  width: 400px;
  /* margin-bottom:50px ; */
  /* margin-left: 50%; */
  /* margin-left:-100px; */
  margin-left: -70px;
  margin-top: 25px;

  
}
.navbar-collapse{
  /* margin-top: 300px; */
  margin-right: -300px;
  margin-left: -50%;
  /* margin-top: 250px; */

  
}
.navbar-nav .nav-item {
/* margin-top: -150px; */
margin-top: 150px;

}
.nav-link{
  transition: all 0.2s;

}
.nav-link:hover{
  border-bottom: 2px solid rgb(255, 47, 92);
  color: black;
}
.dropdown:hover .dropdown-menu{
  display: block;

}

.tx1{
    font-size: large;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-decoration: dotted;
}

.carousel-item img{
    height: 650px;
 }  
.bigbangtheory{ 
    height: 400px;
    width: 100%;
   
    
}
.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 600px;
    height:500px;
    margin-right: 0px;
    margin-top: 100px;
    
  }
  
  .overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:transparent;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:transparent;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .container:hover .overlay1 {
    height: 100%;
  }
  .container:hover .overlay2 {
    height: 100%;
  }
  
  .text {
    color: #c7bbbb;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
   } 
 marquee{
    font-size: 25px;
    color:white;
    padding-top: 12px;
    background-color:#180a24;
    font-family: sans-serif;
    height: 60PX;
    bottom: 60px;


}
.evolution{
  background-color: #c7bbbb;
padding: 0px;
margin: 0px;
}
.PLANETS {
  background-color: #180a24;
}
.PLANETS h1{
color: #c7bbbb;
}
.PLANETS h3{
  color: #c7bbbb;

}
.carousel-control-prev{
  padding-top: 20px;
}



.col img{
margin-top: 25px;
    height: 300px ;
    width: 450px ;
border: 8px black;
}
.col h1{
margin-top: 25px;

}
.col p{
    font-size: 20px;
    margin-top: 25px;
}



.col button{
    width: 150px;
margin-right: 10px ;
margin-top: 25px;
border: solid 3px;
font-size: large;

}
.PLANETS H1{
    padding-left: 100px;
    padding-top: 50px;

}
.b_img1{
  background-image: url(./img/e1870cfee5e05fe14712c92ae9bbadeb.jpg);
   width: 200px;
  margin-left: 150px;
  margin-top: 75px;
  height: 200px  ;
  border-radius: 100px; 
}

.col h3{
    margin-left: 75px;
    margin-top: 35px;
}
/* .Hleft{
    margin-left: 350PX;
} */
.btn{
    margin-left: 450px;
} 


