*{
margin: 0%;
padding: 0%;
}
.navbar-nav{
    margin-left: auto;
}
.container-fluid{
    background-color: black;
    height: 70px;
}
.navbar-collapse ul li a{
    color: antiquewhite;
}
.navbar-brand{
    color: antiquewhite;
}
.container-fluid a:hover{
    color: brown;
   
}
.dropdown ul li a {
    color: black;
    text-transform: capitalize;
}
.dropdown ul li a:hover{
    color: brown;
}
.tx1{
    font-size: large;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-decoration: dotted;
}
.carousel-inner .carouselslide{
  padding: 0%;
    margin: 0%;
}

